
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(135deg, #211729 0%, #1a0f24 100%);
    display: flex;
    flex-direction: column;
}

/* Report page styles */
.report_box {
    width: 90%;
    margin: 2em auto;
    padding: 3em;
    background: linear-gradient(135deg, #e8e8f0 0%, #ded6e2 100%);
    border-radius: 5em;
    color: #4d4654;
}

.source_button {
    background: linear-gradient(145deg, #c6c5e3 0%, hsl(242, 35%, 83%) 20%, #a6a5c9 80%, #a6a5c9 100%);
    color: #211729;
    width: 10%;
    padding: 0.1em 0;
    text-align: center;
    border-radius: 100px;
    box-shadow: 
    inset 0 1px 3px rgba(198, 197, 227, 0.8),
    inset 0 -2px 4px rgba(0, 0, 0, 0.05);
}